body {
    background: lightblue;
}

.container{
    display: flex;
    flex-wrap: wrap;
}



.replay{
    position: fixed;
    display: none;
    background: darkblue;
    font-size: 70px;
    text-align: center;

}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.replayButton{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 80px;
        background: red;
    z-index: 3;
    display: inline;
     }


.result{
    position: sticky;
    background: lightcoral;
    font-size: 150px;
    text-align: center;

}

.box{
    font-size: 100px;
    text-align: center;
    /* margin: unset; */
    line-height: 200px;
}
.box1{

    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
    height: 200px;
}
.box2{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 30%;
    height: 200px;

}
.box3{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
    height: 200px;
}
.box4{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
    height: 200px;
}
.box5{
    border: 1px solid black;
    width: 30%;
    height: 200px;
}
.box6{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
    height: 200px;
}
.box7{
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
    height: 200px;
}
.box8{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
    height: 200px;
}
.box9{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 30%;
    height: 200px;
}

.scoreX{
    font-size: 20px;
    width: 35%;
    height: 30px;

}

.move {
     font-size: 20px;
        width:   65%;
}

.scoreO {
    font-size: 20px;
    width: 30%;
    height: 30px;
}


