.cell {
    border: 1px solid;
    border-top: lightgray;
    text-align: center;
    font-size: 25px;

}
.hidden{
    background: lightgray;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.cell {
    height: 30px;
    width: 30px;
}

.bomb {
    height: 25px;
    width: 25px;
}
.explosion{
    background: lightcoral;
}

.winLoose{
    border: 2px solid;
    background: lightcoral;
    display: table;
    font-size: 50px;
}
.replayButton{

}
.green{
    background: palegreen;
}