.cell {
    border: 1px solid;
    border-top: lightgray;

}

.row{
    display: flex;
    flex-wrap: wrap;
}
.cell {
    height: 30px;
    width: 30px;
}

.bomb {
    height: 25px;
    width: 25px;
}